.headerClass{
    font-family: "PoppinsRegular" !important;
  }
  .caption{
    color:#AEB6BE !important;
    font-family: "RobotoLight" !important;
  }

  .MuiAccordionSummary-content{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .MuiAccordion-root:before {
    background-color: transparent !important;
  }